<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cavalier" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--https://developer.android.com/training/camera/photobasics.html-->
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/horse"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Cavalier.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/cavalier">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ListPersonneActivity"
            android:icon="@drawable/bombe"
            android:label="@string/title_activity_list_cavalier" >
        </activity>
        <activity
            android:name=".activity.AddPersonneActivity"
            android:icon="@drawable/bombe"
            android:label="@string/title_activity_add_personne" >
        </activity>
        <activity
            android:name=".activity.ListMontureActivity"
            android:icon="@drawable/cheval"
            android:label="@string/title_activity_list_monture" >
        </activity>
        <activity
            android:name=".activity.AddMontureActivity"
            android:icon="@drawable/cheval"
            android:label="@string/title_activity_add_monture" >
        </activity>
        <activity
            android:name=".activity.ListCoursActivity"
            android:icon="@drawable/cavalier"
            android:label="@string/title_activity_list_cours" >
        </activity>
        <activity
            android:name=".activity.AddCoursActivity"
            android:icon="@drawable/cavalier"
            android:label="@string/title_activity_add_cours" >
        </activity>
        <activity
            android:name=".activity.ExportActivity"
            android:icon="@drawable/backup"
            android:label="@string/menu_export_db" >
        </activity>
        <activity
            android:name="org.achartengine.GraphicalActivity"
            android:label="@string/menu_chart"
            android:icon="@drawable/chart"
            android:parentActivityName=".activity.ListCoursActivity" >
            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListCoursActivity" />
        </activity>


    </application>

</manifest>
